<%- include("template/header", {titulo: 'Crear kamaron' }) %>
  <div class="container">
    <h1>Detalles del kamaron</h1>

    <% if (error) { %>
      <%= mensaje%>
        <a class="btn btn-dark btn-block my-2" href="/kamaron"></a>
        <% } %>
          <% if (!error) { %>
            <form id="editar" data-id="<%=kamaron._id%>">
              <input type="text" value="<%=kamaron.url%>" class="form-control my-2" name="id" id="idInput">
              <input type="number" value="<%=kamaron.price%>" class="form-control my-2" name="nombre" id="nombreInput">
              <input type="text" value="<%=kamaron.name%>" class="form-control my-2" name="tipo" id="tipoInput">
              <input type="text" value="<%=kamaron.descripcion%>" class="form-control my-2" id="descripcion" name="descripcionInput">
              <button type="submit" id="editar" class="btn btn-primary btn-sm">
                Actualizar
              </button>
            </form>
            <% } %>
  </div>
  <script>
    const btnEliminar = document.getElementById("eliminar")
    btnEliminar.addEventListener("click", async () => {
      console.log(btnEliminar.dataset.id)
      try {
        const data = await fetch(`/kamaron/${btnEliminar.dataset.id}`, {
          method: "delete"
        })
        const res = await data.json()
        console.log(res)
        if (res.estado) {
          window.location.href = "/kamaron"
        } else {
          console.log(res)
        }
      } catch (error) {
        console.log(error)
      }
    })

    const formEditar = document.querySelector("#editar");
    formEditar.addEventListener('submit', async (e) => {
      e.preventDefault()
      const id = formEditar.elements["url"].value
      const nombre = formEditar.elements["price"].value
      const tipo = formEditar.elements["name"].value
      const descripcion = formEditar.elements["descripcion"].value
      const _id = formEditar.dataset.id
      const data = await fetch(`/kamaron/${_id}`, {
        method: "PUT",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({ url, price, name, descripcion })
      })
      const res = await data.json()
      if (res.estado) {
        window.location.href = "/kamaron"
      } else {
        console.log(res)
      }
    })
  </script>
  <%- include("template/footer.ejs") %>